<% provide(:title, "クソアプリ応募一覧 | 第6回RUNTEQ祭")%>

<div class="flex items-center justify-center">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-10 p-4">
    <% @kusos.each do |app| %>
      <div class="card bg-base-100 w-full max-w-sm shadow-sm shadow-md flex flex-col">
        <div class="flex items-center justify-center bg-white">
          <% if app.app_image.length >= 1 %>
            <%= image_tag image_url(app.app_image), alt: "Google Drive Image", class: "h-48 w-full object-cover" %>
          <% else %>
            <%= image_tag "top_image.jpg", class: "h-48 w-full object-cover" %>
          <% end %>
        </div>

        <div class="card-body bg-green-200 flex flex-col space-y-2 p-2">
          <div class="text-center font-bold p-1 flex flex-col items-center justify-center">
            <%= image_tag "クソアプリバッジ.png", size: "50x50" %>
            <h2 class="font-bebas md:text-lg font-light pb-3">No.<%= app.id %>&nbsp;&nbsp;&nbsp;<%= app.apptitle %></h2>
            <div class="font-light w-2/3"><%= app.description %></div>
          </div>
          <div class="flex flex-row space-x-4 justify-center pb-3">
            <%= link_to applyapp_path(app.id),
                        data: {toggle: "tooltip", placement: "bottom"},
                        class: "text-4xl" do %>
              <i class="fa-solid fa-circle-info"></i>
            <% end %>
            <%= link_to "#{app.appurl}",
                        data: {toggle: "tooltip", placement: "bottom"},
                        class: "text-4xl",
                        target: "_black" do %>
              <i class="fa-solid fa-globe"></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>