<div class="min-h-screen">
  <div class="text-center p-4 text-5xl font-light">検索結果</div>
  <div class="flex items-center justify-center">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-10 p-4">
      <% @results.each do |app| %>
        <div class="card bg-base-100 w-70 md:w-96 shadow-sm border shadow-md">
          <div class="flex items-center justify-center bg-white">
            <div class="flex items-center justify-center bg-white">
              <%= image_tag "top_image.jpg", size: "300x300" , class: "hidden md:block" %>
              <%= image_tag "top_image.jpg", size: "200x200" , class: "md:hidden" %>
            </div>
          </div>
        
          <div class="card-body bg-green-200 flex flex-col space-y-2 p-1">
            <div class="text-center font-bold">
              <% if app.kuso %>
                <div class="text-center font-bold p-1 flex flex-row items-center justify-center">
                  <%= image_tag "クソアプリバッジ.png", size: "50x50" %>
                  <h2 class="font-bebas text-2xl font-light"><%= app.apptitle %></h2>
                </div>
              <% else %>
                  <h2 class="font-bebas text-2xl font-light py-3"><%= app.apptitle %></h2>
              <% end %>
            </div>
            
            <div class="flex flex-row space-x-4 justify-center pb-3">
              <%= link_to applyapp_path(app.id),
                          data: {toggle: "tooltip", placement: "bottom"},
                          class: "text-4xl" do %>
                <i class="fa-solid fa-circle-info"></i>
              <% end %>
              <%= link_to "#{app.appurl}",
                          data: {toggle: "tooltip", placement: "bottom"},
                          class: "text-4xl",
                          target: "_black" do %>
                <i class="fa-solid fa-globe"></i>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>