<% provide(:title, "#{@applyapp.apptitle} | 第6回RUNTEQ祭")%>
<div class="p-10 flex justify-center">

  <div class="p-4 bg-green-100 w-1/2 flex justify-center border">
    <div class="w-2/3">
      <div class="font-bebas font-bold text-center text-5xl p-4 m-4">
        <%= @applyapp.apptitle %>
      </div>
      <div class="flex items-center justify-center">
        <%= image_tag "top_image.jpg" ,size: "500x500" %>
      </div>
      <% if @applyapp.kuso %>
        <div class="text-center font-bold p-1 flex flex-row items-center justify-center">
          <%= image_tag "クソアプリバッジ.png", size: "50x50" %>
          <h2 class="text-2xl font-light"><%= @applyapp.apptitle %></h2>
        </div>
      <% end %>
      <div class="font-bebas text-center pt-4"><%= @applyapp.enginnername%></div>
      <div class="font-bebas text-center p-4 m-4"><%= @applyapp.description%></div>
      <div class="font-bebas text-center p-4 m-4"><%= @applyapp.strongpoint%></div>
      <div class="font-bebas flex flex-row items-center justify-center space-x-4">
        <%= link_to "#{@applyapp.githuburl}",
                    data: {toggle: "tooltip", placement: "bottom"},
                    class: "text-4xl",
                    target: "_black" do %>
          <i class="fa-brands fa-github"></i>
        <% end %>
        <%= link_to "#{@applyapp.spfurl}",
                    data: {toggle: "tooltip", placement: "bottom"},
                    class: "text-4xl",
                    target: "_black" do %>
          <i class="fa-solid fa-registered"></i>
        <% end %>
        <%= link_to "#{@applyapp.xurl}",
                    data: {toggle: "tooltip", placement: "bottom"},
                    class: "text-4xl",
                    target: "_black" do %>
          <i class="fa-brands fa-square-x-twitter"></i>
        <% end %>
        <%= link_to "#{@applyapp.appurl}",
                    data: {toggle: "tooltip", placement: "bottom"},
                    class: "text-4xl",
                    target: "_black" do %>
          <i class="fa-solid fa-globe"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>