<% provide(:title, "#{@applyapp.apptitle} | 第6回RUNTEQ祭")%>
<div class="p-4 flex justify-center">
  <div class="bg-green-100 w-full md:max-w-3xl rounded-xl shadow-md p-6">
    <!-- タイトルとバッジ -->
    <div class="flex flex-col items-center justify-center mb-6 space-y-2">
      <% if @applyapp.kuso %>
        <div class="flex items-center space-x-3">
          <%= image_tag "クソアプリバッジ.png", size: "50x50" %>
          <h1 class="font-bebas text-3xl md:text-5xl font-bold text-center"><%= @applyapp.apptitle %></h1>
        </div>
      <% else %>
        <h1 class="font-bebas text-3xl md:text-5xl font-bold text-center"><%= @applyapp.apptitle %></h1>
      <% end %>
    </div>

    <!-- 画像 -->
    <div class="flex items-center justify-center bg-white rounded-lg overflow-hidden mb-6 shadow">
      <% if @applyapp.app_image.length >= 1 %>
        <%= image_tag image_url(@applyapp.app_image),
                      alt: "アプリ画像",
                      class: "w-full h-48 md:h-auto object-cover md:object-contain" %>
      <% else %>
        <%= image_tag "top_image.jpg",
                      class: "w-full h-48 md:h-auto object-cover md:object-contain" %>
      <% end %>
    </div>

    <!-- サービスリンク -->
    <div class="flex flex-row items-center justify-center space-x-6 mb-6">
      <%= link_to "サービス", "#{@applyapp.appurl}",
                  class: "bg-white border-2 text-lg px-4 py-2 border rounded hover:bg-blue-50 transition duration-200 font-semibold" %>

      <%= link_to "#{@applyapp.githuburl}", target: "_blank", class: "text-4xl hover:scale-110 transition duration-200" do %>
        <i class="fa-brands fa-github"></i>
      <% end %>
    </div>

    <!-- 説明と強み -->
    <div class="text-left text-lg leading-relaxed font-normal space-y-4 mb-6">
      <div><%= simple_format(@applyapp.description) %></div>
      <div><%= simple_format(@applyapp.strongpoint) %></div>
    </div>


    <!-- 開発者情報 -->
    <div class="text-center text-2xl font-bold mb-4">開発者</div>
    <div class="flex flex-col items-center space-y-3">
      <% enginner_array = @applyapp.enginnername.split("**********") %>
      <% x_array = @applyapp.xurl.split("**********") %>
      <% spf_array = @applyapp.spfurl.split("**********") %>

      <% enginner_array.length.times do |i| %>
        <div class="flex flex-row space-x-3 items-center justify-center bg-white px-4 py-2 rounded-lg shadow hover:scale-105 transition duration-200">
          <div class="bg-blue-500 text-white px-3 py-1 rounded font-semibold">
            <%= enginner_array[i] %> さん
          </div>
          <%= link_to "#{x_array[i]}", target: "_blank", class: "text-3xl hover:text-blue-400 transition" do %>
            <i class="fa-brands fa-square-x-twitter"></i>
          <% end %>
          <%= link_to "#{spf_array[i]}", target: "_blank", class: "text-3xl hover:text-blue-400 transition" do %>
            <i class="fa-solid fa-registered"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
