<div class="flex items-center justify-center">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-10 p-4">
    <% @applyapps.each do |app| %>
      <div class="card bg-base-100 w-full max-w-sm shadow-sm shadow-md flex flex-col">
        <div class="flex items-center justify-center bg-white">
          <% if app.app_image.length >= 1 %>
            <%= image_tag image_url(app.app_image), alt: "Google Drive Image", class: "h-48 md:h-60 w-full object-cover" %>
          <% else %>
            <%= image_tag "top_image.jpg", class: "h-48 md:h-60 w-full object-cover" %>
          <% end %>
        </div>
       
        <div class="card-body bg-green-200 flex flex-col space-y-2 p-2">
          <div class="text-center font-bold">
            <% if app.kuso %>
              <div class="text-center font-bold p-1 flex flex-col items-center justify-center">
                <%= image_tag "クソアプリバッジ.png", size: "50x50" %>
                <h2 class="font-bebas md:text-lg font-light pb-3"><%= app.apptitle %></h2>
                <div class="font-light w-2/3 h-[96px]"><%= app.description %></div>
              </div>
            <% else %>
              <div class="text-center font-bold p-1 flex flex-col items-center justify-center">
                <h2 class="font-bebas md:text-lg font-light pt-7 pb-8"><%= app.apptitle %></h2>
                <div class="font-light w-2/3 h-[96px]"><%= app.description %></div>
              </div>
            <% end %>
          </div>
          
          <div class="flex flex-row space-x-4 items-center justify-center pb-3">
            <%= link_to "詳細", applyapp_path(app.id), class: "bg-white border-2 text-lg p-1 border rounded items-center" %>
            <%= link_to "サービス", "#{app.appurl}", class: "bg-white border-2 text-lg p-1 border rounded items-center" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
