<div class="bg-blue-200 flex flex-row justify-between space-x-4 p-2">
  <%= link_to "第6回RUNTEQ祭 応募一覧アプリ", root_path, class:"text-5xl font-bold p-4" %>
  <div class="flex flex-row space-x-4 items-center">
    <%= link_to "アプリ応募はこちら",
                "https://docs.google.com/forms/d/e/1FAIpQLSeO1CUqvfab4Bm0G0kNrILGT8jSos6xRepqN6-kwbu1Tb2MFQ/viewform?usp=dialog",
                 class: "border border-white rounded p-4 m-4 bg-blue-500 text-white",
                 target: :blank %>
    
    <!-- 投票開始になったらコメントアウト外す
    <%= link_to "投票フォーム",
                "https://docs.google.com/forms/d/e/1FAIpQLSenWgyzuPZX6oaQtPZiMW7oQaDxUIyttbRrfYQPUWGM6LhJlQ/viewform?usp=dialog",
                class: "border border-white rounded p-4 m-4 bg-gray-300 text-white",
                target: :blank %>
    -->

    <!-- 投票開始になったらコメントアウトする -->
    <div class="border border-white rounded p-4 m-4 bg-gray-300 text-white">投票はこちら</div>

    <%= link_to "運営メンバー紹介",
                "https://docs.google.com/forms/d/e/1FAIpQLSenWgyzuPZX6oaQtPZiMW7oQaDxUIyttbRrfYQPUWGM6LhJlQ/viewform?usp=dialog",
                class: "border border-white rounded p-4 m-4 bg-blue-500 text-white",
                target: :blank %>
    <div class="flex justify-center bg-blue-200">
      <div class="border border-white p-4 m-4 rounded">アプリ検索窓</div>
    </div>
  </div>
</div>
<div class="flex flex-row items-center justify-center bg-blue-500 text-white border border-white">
  <div class="text-2xl w-1/2 text-center">
    <%= link_to root_path do %>
      <div>全て</div>
    <% end %>
  </div>
  <div class="border text-2xl w-1/2 text-center border border-white">
    <%= link_to kuso_path do %>
      <div class="flex flex-row items-center justify-center">
        <%= image_tag "クソアプリバッジ.png", size: "50x50" %>
        <div>クソアプリ応募一覧</div>
      </div>
    <% end %>
  </div>

</div>