<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "第6回RUNTEQ祭" %></title>


    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script src="https://kit.fontawesome.com/58f012fe42.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=M+PLUS+Rounded+1c&family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
  </head>

  <body class="bg-[url('/RunteqFes/top_image.jpg')] relative font-bebas">
    <div class="absolute inset-0 bg-white opacity-80 h-full"></div>
      <div class="flex flex-col min-h-screen relative z-10">
        <%= render "shared/header" %>
        <div class="flex-grow flex flex-col">
          <%= yield %>
        </div>
        <%= render "shared/footer" %>
      </div>
  </body>
</html>
